---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Build">
	<h1>Build</h1>
	<main>
		<div class="flex flex-row">
			<div class="basis-1/4">01</div>
			<div class="basis-1/4">02</div>
			<div class="basis-1/2">03</div>
		  </div>
	</main>
</Layout>