---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import SubteamHeader from '../../components/SubteamHeader.astro';
---

<Layout title="Programming">
	<main>
		<SubteamHeader title= {"Programming"} image= {"https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png"}/>
		<h1>Programming</h1>
		
	</main>
</Layout>