---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Error 404">
    <main>
        <div class="h-screen">
            <h1>Error 404</h1>
            <h2>Not Found</h2>
        </div>
    </main>    
</Layout>