---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MainHeader from '../components/MainHeader.astro';
---

<Layout title="VPCI Robotics">
	<main class="container ">
		<MainHeader/>
		<div class="mx-4 instructions text-center">
			<h2 class="text-4xl font-semibold p-2">Welcome</h2>
			<p class="">
				Welcome to Team 4914, the Victoria Park Panthers. We are a student run FIRST Robotics <br> Competition (FRC) team at Victoria Park C.I. run by 3 mentors and over 100 students. 
			</p>
		<div>
	</main>
</Layout>

<style>
	/* main {
		padding: 1.5rem;
	} */
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
