<header>
    <div class="container max-w-none bg-image p-5">
        <div>
            <h1 class="md:text-8xl text-6xl text-white font-bold text-center underline underline-offset-8 decoration-red-800 mt-32">
                VPCI  <span class="text-gradient">Robotics<span>
            </h1>
        </div>
    </div>
</header>

<style>
    .bg-image {
        height: 32rem;
        background-image: url("https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png");
        background-size: cover;
    }

    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
