---
export interface Props {
	title: string;
	image: string;
}

const { title, image } = Astro.props;
---

<header>
    <div class="container max-w-none bg-image p-5">
        <div>
            <h1 class="md:text-8xl text-5xl text-white font-semibold text-center underline underline-offset-8 decoration-red-800 mt-32">
                 <span class="text-gradient"> {title} <span>
            </h1>
        </div>
    </div>
</header>

<style>
    .bg-image {
        height: 32rem;
        background-image: url({image});
        background-size: cover;
    }

    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
 
</style>